{% extends "pages/richtextpage.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}
<!--
This template is provided as a custom template for the homepage, for
when it is configured as an editable page in the navigation tree. Feel
free to modify it.
-->
<section id="page">
	<section>
		<section class="mb15">
			<div class="nekoDataOwl owl-carousel" data-neko_items="2" data-neko_singleitem="false" data-neko_navigation="false" data-neko_pagination="true" data-neko_mousedrag="true">
				<img src="{% static "images/index1.jpeg" %}" alt="SEATTLE premium website template" class="img-responsive"/>
				<img src="{% static "images/index2.jpeg" %}" alt="SEATTLE premium website template" class="img-responsive"/>
			</div>
		</section>
	</section>
	<section id="content">
		<div class="container">
			<div class="row mt30 mb30">
				<div class="col-md-4">
					<h2>Behandlingar </h2>
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
										Massage
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse in" >
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										Spa
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" >
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										Beauty and Health
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h2>Välkommen </h2>
					<img src="{% static "images/index3.jpeg" %}" alt="" class="img-responsive imgBorder mb15">
					<p>We create beautiful, modern and professional templates, carefully designed and coded with love</p>
					<a href="" class="btn btn-primary"><i class="icon-right-circle"></i>read more</a>
				</div>
				<div class="col-md-4">
					<h2>Tjänster</h2>
					<article class="featureBox">
						<i class="icon-lightbulb iconRounded"></i>
						<div class="boxContent">
							<h2>Kontakt</h2>
							<p>
								Nullam sed tortor odio. Suspendisse tincidunt dictum nisi.
							</p>
						</div>
					</article>
					<article class="featureBox">
						<i class="icon-beaker iconRounded"></i>
						<div class="boxContent">
							<h2>Prislista</h2>
							<p>
								Nullam sed tortor odio. Suspendisse tincidunt dictum nisi.
							</p>
						</div>
					</article>
					<article class="featureBox">
						<i class="icon-ok iconRounded"></i>
						<div class="boxContent">
							<h2>Bra att veta</h2>
							<p>
								Nullam sed tortor odio. Suspendisse tincidunt dictum nisi.
							</p>
						</div>
					</article>
				</div>
			</div>
		</div>
				<section class="pricing pt30 pb30 color1">
					<div class="container">
						<div class="row">
							<div class="col-sm-3">
								<div class="pricingBloc">
									<h2>Free</h2>
									<h3>0$<span>per month</span></h3>
									<ul>
										<li>This is what you get For free</li>
										<li>Not bad, but could be better</li>
										<li>-</li>
										<li>-</li>
										<li>-</li>
										<li>-</li>
									</ul>
									<p class="sign">
										<a class="btn" href="#">
											Sign up
										</a>
									</p>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="pricingBloc">
									<h2>Silver</h2>
									<h3>10$<span>per month</span></h3>
									<ul>
										<li>This is a little better</li>
										<li>Though</li>
										<li>Not the best plan for you!</li>
										<li>-</li>
										<li>-</li>
										<li>-</li>
									</ul>
									<p class="sign">
										<a class="btn" href="#">
											Sign up
										</a>
									</p>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="pricingBloc focusPlan">
									<h2>Gold</h2>
									<h3>25$<span>per month</span></h3>
									<ul>
										<li>Honestly, go Premium</li>
										<li>We have a lot</li>
										<li>of cool features for you!</li>
										<li>Really, you will love what you will get</li>
										<li>Come on!!</li>
										<li>Please!!!</li>
									</ul>
									<p class="sign">
										<a class="btn btn-large" href="#">
											Sign up
										</a>
									</p>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="pricingBloc">
									<h2>Platinium</h2>
									<h3>40$<span>per month</span></h3>
									<ul>
										<li>This one is super good</li>
										<li>Super awesome</li>
										<li>Just the right plan for you</li>
										<li>If you are</li>
										<li>A super pro!</li>
										<li>No kidding</li>
									</ul>
									<p class="sign">
										<a class="btn" href="#">
											Sign up
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
	</section>



</section>

{{ block.super }}
{% endblock %}
