/* Add margin so scroller in prislista doesent cover text after you used links to scroll */
nav.stick {
    margin-top:12px;
}

a.nav-active {
    color:red;
}




/* Logo / header name styling */

.navbar-brand h2 {
    font-size: 26px;
}
.navbar-brand span {
    color: #98b90f;
}

@media(max-width:767px) {

  .navbar-brand h2 {
    /* Remove previous custom set font-size */
    font-size: 22px;
  }
}

/* Footer styling */

.copyright {
    margin: 10px 0 0 0;
    padding: 0;
}

footer {
    color: #777;
    background: #aed310;
    background: #eaeaea;
    border-top: 2px solid #444;
    padding: 0 0 0 0;
}

#footerRights {
    background-color: #333;
    color: #999;
    border-top: 0px solid #1b1b1b;
    margin-top: 0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 76px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 76px;
    background-color: #f5f5f5;
}


.iconBig.iconRounded span {
    line-height: 100px;
    /*color:#98b90f;*/
}

/*
.bokaTid {
    padding-left:15px;
}
.bokaTid h2, .boxContent h3 {
    font-weight:400;
}
.bokaTid {
    padding-left:15px;
}*/

.primary-color {
    color: #aed310;
}

 /* CUSTOM TABLE CSS */

.borderless > tbody > tr > td {
    border: none;
}

.borderless>thead>tr>th,
.borderless>tbody>tr>th,
.borderless>tfoot>tr>th,
.borderless>thead>tr>td,
.borderless>tbody>tr>td,
.borderless>tfoot>tr>td {
    padding: 0 0 0 0;
}

.pricelist-borderless > tbody > tr > td {
    border: none;
}

.pricelist-borderless > tfoot > tr > td {
    border: none;
    font-weight: bold;
}

.pricelist-borderless h3 {
    margin-bottom: 0px;
}
.pricelist-borderless h4 {
    margin-bottom: 0px;
}


/*========================================
            MEZZANINE FORMS
==========================================
  This rules mirror the rules for .form-control included with Bootstrap.
  They are needed because we can not directly apply CSS classes to the form fields
  when rendering them in the template.
  They also cover special cases for date and date/time inputs.
*/
.form-group > input[type="text"],
.form-group > input[type="password"],
.form-group > input[type="datetime"],
.form-group > input[type="datetime-local"],
.form-group > input[type="date"],
.form-group > input[type="month"],
.form-group > input[type="time"],
.form-group > input[type="week"],
.form-group > input[type="number"],
.form-group > input[type="email"],
.form-group > input[type="url"],
.form-group > input[type="search"],
.form-group > input[type="tel"],
.form-group > input[type="color"],
.form-group > select,
.form-group > textarea {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-group > input[type="text"]:focus,
.form-group > input[type="password"]:focus,
.form-group > input[type="datetime"]:focus,
.form-group > input[type="datetime-local"]:focus,
.form-group > input[type="date"]:focus,
.form-group > input[type="month"]:focus,
.form-group > input[type="time"]:focus,
.form-group > input[type="week"]:focus,
.form-group > input[type="number"]:focus,
.form-group > input[type="email"]:focus,
.form-group > input[type="url"]:focus,
.form-group > input[type="search"]:focus,
.form-group > input[type="tel"]:focus,
.form-group > input[type="color"]:focus,
.form-group > select:focus,
.form-group > textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-group > textarea {
  height: auto;
  max-width: 400px;
}
.has-error > input[type="text"],
.has-error > input[type="password"],
.has-error > input[type="datetime"],
.has-error > input[type="datetime-local"],
.has-error > input[type="date"],
.has-error > input[type="month"],
.has-error > input[type="time"],
.has-error > input[type="week"],
.has-error > input[type="number"],
.has-error > input[type="email"],
.has-error > input[type="url"],
.has-error > input[type="search"],
.has-error > input[type="tel"],
.has-error > input[type="color"],
.has-error > select,
.has-error > textarea {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error > input[type="text"]:focus,
.has-error > input[type="password"]:focus,
.has-error > input[type="datetime"]:focus,
.has-error > input[type="datetime-local"]:focus,
.has-error > input[type="date"]:focus,
.has-error > input[type="month"]:focus,
.has-error > input[type="time"]:focus,
.has-error > input[type="week"]:focus,
.has-error > input[type="number"]:focus,
.has-error > input[type="email"]:focus,
.has-error > input[type="url"]:focus,
.has-error > input[type="search"]:focus,
.has-error > input[type="tel"]:focus,
.has-error > input[type="color"]:focus,
.has-error > select:focus,
.has-error > textarea:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.multiplechoicefield > ul, .choicefield > ul{
  margin: 0;
  padding: 0;
}
.multiplechoicefield > ul > li, .choicefield > ul > li{
  list-style: none;
  display: inline-block;
}
.multiplechoicefield > ul label, .choicefield > ul label {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.datefield, .datetimefield {
  max-width: 450px;
}
.datefield > select {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
}
.datefield > label, .datefield > .help-block,
.datetimefield > label, .datetimefield > .help-block {
  display: block;
}
.datetimefield > select {
  display: inline-block;
  margin-right: 2%;
  width: 22%;
}
.datetimefield > input[type="text"] {
  display: inline-block;
  width: 25%;
}

.form-actions {
  /*
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  padding: 20px;
  border-radius: 5px;
  */
  margin-bottom: 15px;
}
